@import '../../assets/styles/colors';
.container{
  margin: 2rem auto;
  max-width: 90rem;
  border-radius: .5rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 1rem;

  & p:first-child{
    text-align: center;
    font-weight: 700;
  }
  
  & ul{
    margin-left:5rem ;
  }
}

.containerLight{
  background-color: $yellow;
}

.containerDark{
  background-color: $dark-light;
  color: white;
}